################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PDU_Writer/v15/.suo
/.vs/PDU__Writer/v15/.suo
/.vs/PDU_Writer/v15/Server/sqlite3/db.lock
/.vs/PDU_Writer/v15/Server/sqlite3/storage.ide
/.vs/slnx.sqlite
/.vs/PDU_Writer/v15/Server/sqlite3/storage.ide-shm
/.vs/PDU_Writer/v15/Server/sqlite3/storage.ide-wal
